@media only screen and (max-width: 767px) {
          /* ***************************************** */
    .mission-vision .containers {
        /* display: grid; */
        grid-template-columns: 1fr;
        gap: 40px;
        }
    /* *************************************** */
}

@media (max-width: 768px) {
      /* ***************************************** */
    .mission-vision .containers {
        /* display: grid; */
        grid-template-columns: 1fr;
        gap: 40px;
        }
    /* *************************************** */
}