@media (max-width: 768px) {
      /* ***************************************** */
    .intro-content{
        display: flex;
        flex-direction: column;
      }
    /* *************************************** */
}