/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* overflow-x: hidden; */
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

    /* Allergy Modal Styles */  
  /* ALLERGY POP UP  */
  /* Allergy Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3450cd;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show {
    display: flex;
    opacity: 1;
}

.modal-content {
    background-color: #000;
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(222, 219, 219, 0.6);
    animation: modalFadeIn 0.3s ease;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.modal-header h2 {
    color: red;
    font-size: 1rem;
    margin: 0;
}

.modal-header i {
    margin-right: 0.5rem;
    background-color: white;
}

.close-modal {
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    color: #3450cd;
}

.close-modal:hover {
    color:#00BFFF;
}

.modal-body {
    margin-bottom: 1.5rem;
    text-align: left;
    line-height: 1.6;
}

.modal-body p{
    margin-bottom: 1rem;
    color: white;
}
.modal-body strong{
  color: rgb(255, 165, 0);
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-close-btn {
    background-color: #3450cd;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-close-btn:hover {
    background-color: #00BFFF;
}

@keyframes modalFadeIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}




/* &&&&&&&&&&&&&&&&&&&&&&&&& */
.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    width: 50px;
    height: 50px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scroll-to-top:hover {
    background-color: #3450cd;
    transform: translateY(-3px);
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */



/* ------ */
/* MACHINE SECTION CATEGORY  */
/* Machines Categories Navigation */
.menu-categories-nav {
    margin-top: 22vh;
    width: 100vw;
    height: auto;
    padding: 1rem;
    text-align: center;
    /* background-color: red; */
    overflow-x: hidden;
}

.the-section-title {
    font-size: 1.5rem;
    color: #3450cd;
    text-shadow: white 1px 1px 1px;
    margin-bottom: 0.5rem;
}

.section-subtitle {
    font-size: 15px;
    color: #3450cd;
    margin-bottom: 2.5rem;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    gap: 1.5rem;
    max-width: 1200px;
    width: 100vw;
    margin: 0 auto;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 185px;
    height: 190px;
    /* background: #3450cd; */
    padding: .5rem;
}

.category-item:hover {
    transform: scale(1.1);
}

.category-icon {
    width: 95%;
    height: 90%;    
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);;
    transition: transform 0.3s ease;
}

.category-item:hover .category-icon {
    transform: scale(1.05);
}

.category-name {
    font-size: .8rem;
    color: white;
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* Basic Styling for Menu Section */
.menu-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 1rem;
    margin: 0;
    height: auto;
    gap: 1rem;
    padding: 50px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #00BFFF, white, #3450cd);
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;
}
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

  .menu-section h1{
    padding-top: 3.5rem;
    color: #3450cd;
    text-shadow:0 2px 2px white;
    font-size: 1.5rem;
  }
    .menu-section p{
      font-size: 1rem;
      color: #3450cd;
    }
  .menu-section h2{
    color: #3450cd;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  /* Menu Card Styles */
  /* .menu-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  } */


  .menu-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 20px;
  width: 100%;
  max-width: 900px; /* keeps layout neat on large screens */
  padding: 20px;
}

 
  .menu-card {
    width: 200px;
    height: 200px;
    /* flex-wrap: wrap; */
    perspective: 1000px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(50, 26, 5, 0.2);
    transition: transform 0.6s ease;
  }
  
  .menu-card-front,
  .menu-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 4px 10px rgb(50, 26, 5, 0.2);
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
  }
  .menu-card-front::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.2;
    pointer-events:none
  }
  
  .menu-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transform: rotateY(0);
  }
  
  .menu-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .menu-card-front h2 {
    color: #3450cd;
    font-size: 12px;
    margin: 8px 0;
  }


  .details-btn {
    margin-top: auto;
    padding: 5px 10px;
    font-size: 1em;
    background: #3450cd;
    font-size: .8rem;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .details-btn:hover {
    background:#00BFFF;
  }
  
  .menu-card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    transform: rotateY(180deg);
  }

  .menu-card-back::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.3;
    pointer-events:none
  }
  .menu-card-back h2{
      font-size: .7rem;
    }
  .menu-card-back i{
    font-size: 1rem;
  }
  
  
  .back-btn {
    padding: 5px 10px;
    font-size: .8rem;
    background: #3450cd;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .back-btn:hover {
    background: #00BFFF;
  }
  
  /* Flip Effect */
  .menu-card.flip .menu-card-front {
    transform: rotateY(180deg);
  }
  
  .menu-card.flip .menu-card-back {
    transform: rotateY(0);
  }
/* &&&&&&&&&&&&&&&&&&&&&&&&&& */




@media (max-width: 768px) {
  .menu-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-card {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .menu-cards {
    grid-template-columns: 1fr;
  }
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
@media (max-width: 768px) {
  .categories-container {
    /* justify-content: center; */
       /* grid-template-columns: repeat(2, 1fr); */
  }

  .category-item {
    width: calc(50% - 0.75rem); /* 2 items per row */
    height: auto;
  }

  .category-icon {
    height: 140px;
  }
}

@media (max-width: 380px) {
  .category-item {
    width: 100%;
  }
}
